/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {

    opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e9e9e9;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c9c9c9;
}

#kontext_menu {
  margin-left: -500px;
  margin-top: -500px;
  opacity: 0;
  position: absolute;
  width: 150px;
  overflow: hidden;
  height: 80px;
  padding: 5px;
  background-color: #F7F7F7;
  border-color: #d1cfcf;
  border-style: solid;
  border-radius: 1px;
  border-radius: 5px;
}

.kontext_button {
  cursor: pointer;
  margin-top: 5px;
  background-color:#F7F7F7;
  color: #444444;
  font-size: 18pt;
  width: 150px;
  border-radius: 5px;
  border-color: #F7F7F7;
  border-style:solid;
}

.kontext_button:hover {
  border-color: #d1cfcf;
  border-style: dashed;
}

.button {
  float: right;
  margin-right: 10px;
  color: #444444;
  background-color: #eaeaea;
  border-color: #d1cfcf;
  border-style: dashed;
  font-size: 18pt;
  padding: 12px;
  border-radius: 8px;
  transition: 0.3s;
}

.button:hover {
  border-color: #bababa;
  background-color: #d8d8d8;
}

.button:active {
  border-color: #a5a5a5;
  background-color: #c1c1c1;
}

html, body {
  padding: 0px;
  margin: 0px;
  background-color: #fefefe;
  overflow-x: hidden;
}

#controls {
  background-color: #f7f7f7;
  height: 58px;
    padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
  width: 100%;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-color: #d1cfcf;
}

#add_popup {
  height: 350px;
  width: 375px;
    opacity: 0;
  top: 50%;
left: 50%;
transform: translate(-50%, -50%);
  position: absolute;
  height: 0px;
  width: 0px;
  color: #444444;
  background-color: #f7f7f7;
  border-color: #d1cfcf;
  border-style: solid;
    border-radius: 8px;
  font-size: 18pt;
  padding: 12px;

  transition: 0.3s;

}

#add_text {
  font-size: 16pt;
  font-family: Arial;
  resize: none;
  margin: 0px;
  margin-top: 1px;
  width: 370px;
  height: 276px;
  border-radius: 5px;
}

#button_cancel, #button_submit {
  margin-top: 5px;
  margin-right: 0px;
  margin-left: 5px;
}


.status {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 10px;
  background-color: #f7f7f7;
  text-align: center;
  position: absolute;
  width: 22%;
  height: 80%;
  margin-top: 35px;
  font-size: 16pt;
  font-family: Arial;
  border-color: #d1cfcf;
  border-style: solid;
    border-radius: 8px;
    transition:0.3s;
}

.status:hover {
  border-color: darkgray;
}

#backlog {
  left: 2.5%;
}

#inprogress {
  left:26.5%;
}

#review {
  left: 50.5%;
}

#ready {
  left: 74.5%;
}

#save_kanban, #refresh_kanban {
    float: left;

}

.card {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
  cursor: move;
  overflow-y: scroll;
  padding-left: 5px;
  padding-top: 5px;
  text-align: justify;
  border-color: #d1cfcf;
  border-style: solid;
  border-radius: 8px;
  height: 150px;
  width: 90%;
  margin-left: 4%;
  background-color: #fefefe;
  margin-top: 20px;
  transition: 0.3s;
}

.card:hover {
  border-color:#4286f4;

}

.card:active {

}

#button-file {
    color: #fff;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    color: #444444;
    background-color: #eaeaea;
    border-color: #d1cfcf;
    border-style: dashed;
    font-size: 18pt;
    padding: 12px;
    border-radius: 8px;
    transition: 0.3s;
    height: 56px;
    filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#bb0000ff', EndColorStr='#990000ff');

    padding: 10px 5px;
}
#button-file:active {
    filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#990000ff', EndColorStr='#bb0000ff');
    border-color: #a5a5a5;
    background-color: #c1c1c1;

}
#button-file:hover {
    cursor: pointer;
    border-color: #bababa;
    background-color: #d8d8d8;
}
